:host {
  font-family: DejaVu Sans Mono, monospace;
  font-size: large;
  padding-top: 5px;
  padding-left: 40%;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  background-color: #f3d561;


}

.btn1 {
  background-color: #baefef;
  justify-content: right;
  border-radius: 8px;
  height: 30px;
  width: 75px
}
